[mcu scanner]
serial: /dev/serial/by-id/[your carto here]
#    adjust to suit your scanner, if using usb change to serial

[scanner]
mcu: scanner            
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
x_offset: 0   # Adjust this value based on your mount                        
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: 15  # Adjust this value based on your mount                       
#    adjust for your cartographers offset from nozzle to middle of coil
backlash_comp: 0.5
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
sensor: cartographer
#    this must be set as cartographer unless using IDM etc.
sensor_alt: carto
#    alternate name to call commands. CARTO_TOUCH etc      
mesh_runs: 2
#    Number of passes to make during mesh scan.

[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: scanner
min_temp: 0
max_temp: 105


#These values work for Spooknik's side mount
[z_tilt]
z_positions:
    -17.5,138.5
    335.7,138.5

points:
    0,171.6 # Adjust based on Y X offset
    255,171.6 # Adjust based on Y X offset

speed: 150
horizontal_move_z: 5
retries: 2
retry_tolerance: 0.05

#These values work for Spooknik's side mount.
[bed_mesh]
zero_reference_position: 150, 150  
speed: 200
horizontal_move_z: 5
mesh_min: 27, 24
mesh_max: 285, 285
probe_count: 25, 25
algorithm: bicubic


