# QIDI Plus4 V1.0.0

[include plr.cfg]
[include gcode_macro.cfg]
[include time_update.cfg]

# Plugins
[include timelapse.cfg]
[include KAMP_Settings.cfg]

[include beacon_calibrate.cfg]

[printer]
kinematics:corexy
max_velocity: 600
max_accel: 20000
max_accel_to_decel: 10000
max_z_velocity: 20
max_z_accel: 500
square_corner_velocity: 5

[mcu]
serial: /dev/ttyS2
restart_method: command
baud:500000

[mcu U_1]
serial: /dev/ttyS0
restart_method: command
baud:500000

[temperature_sensor GD32]
sensor_type: temperature_mcu
sensor_mcu: mcu

[temperature_sensor mainboard_stm32]
sensor_type: temperature_mcu
sensor_mcu: U_1

[temperature_sensor mainboard_rockchip]
sensor_type: temperature_host

[respond]
default_type: echo

[gcode_arcs]
resolution: 0.5

[exclude_object]

[save_variables] 
filename =/home/mks/printer_data/config/saved_variables.cfg

[adxl345]
cs_pin:PA4
spi_software_sclk_pin:PA5
spi_software_mosi_pin:PA7
spi_software_miso_pin:PA6
axes_map: -x, z, -y

[resonance_tester]
accel_per_hz: 150
max_smoothing:0.1

[output_pin sound]
pin:PA1
value:0

[duplicate_pin_override]
pins:

[bed_screws]
screw1: 25,21
screw1_name: Front left
screw2: 285,21
screw2_name: Front right
screw3: 285,281
screw3_name: Last right
screw4: 25,281

[screws_tilt_adjust]
screw1: 25,21
screw1_name: Front left
screw2: 25,21
screw2_name: Front right
screw3: 285,281
screw3_name: Back right
screw4: 25,281
screw4_name: Back left
screw_thread: CW-M4

[gcode_macro SCREWS_TILT_CALCULATE]
rename_existing: _SCREWS_TILT_CALCULATE_BASE
gcode:
    { action_respond_info("starting screw rotation calculation...") }
    M141 S0 # disable chamber heater (see https://github.com/qidi-community/Plus4-Wiki/tree/main/content/chamber-heater-issue)
    M4031
    G28
    Z_TILT_ADJUST
    _SCREWS_TILT_CALCULATE_BASE

[hall_filament_width_sensor]
adc1: PA2
adc2: PA3
cal_dia1: 1.50
cal_dia2: 2.0
raw_dia1: 14197
raw_dia2: 15058
default_nominal_filament_diameter: 1.75
max_difference: 0
measurement_delay: 50
enable: false
measurement_interval: 10
logging: False
min_diameter: 0.3
use_current_dia_while_delay: False
pause_on_runout:True
runout_gcode:
            RESET_FILAMENT_WIDTH_SENSOR
            M118 Filament run out
event_delay: 3.0
pause_delay: 0.5

[extruder]
step_pin:PB9
dir_pin:PB8
enable_pin:!PC15
rotation_distance: 53.7  #22.6789511 Bondtech 5mm Drive Gears
gear_ratio: 1517:170
microsteps: 64
full_steps_per_rotation: 200 #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
min_temp: 0
max_temp: 380
min_extrude_temp: 175
smooth_time: 0.2
heater_pin:PB3
sensor_type:MAX6675
sensor_pin:PB12
spi_speed: 100000
spi_software_sclk_pin:PB13
spi_software_mosi_pin:PA11
spi_software_miso_pin:PB14
max_power: 1
control : pid  
pid_Kp=33.555
pid_Ki=4.76
pid_Kd=59.141
pressure_advance: 0.032
pressure_advance_smooth_time: 0.05
max_extrude_cross_section: 500
instantaneous_corner_velocity: 5.000
max_extrude_only_distance: 1000.0
max_extrude_only_velocity: 5000
max_extrude_only_accel: 5000
step_pulse_duration: 0.000002

[tmc2209 extruder]
uart_pin:PC13
interpolate: False
#run_current: 0.75
run_current: 0.714
stealthchop_threshold: 0

[stepper_x]
step_pin:U_1:PB4
dir_pin:!U_1:PB3
enable_pin:!U_1:PB5
microsteps: 16
rotation_distance: 38.86
full_steps_per_rotation:200 # set to 400 for 0.9 degree stepper
endstop_pin:tmc2240_stepper_x:virtual_endstop
position_min: -1.2
position_endstop: -1.2
position_max:307
homing_speed:50
homing_retract_dist:0
homing_positive_dir:False
step_pulse_duration:0.0000001

[tmc2240 stepper_x]
cs_pin:U_1:PD2
spi_software_sclk_pin:U_1:PA5
spi_software_mosi_pin:U_1:PA7
spi_software_miso_pin:U_1:PA6
spi_speed:200000
run_current: 1.07
# hold_current: 0.5
interpolate: True
stealthchop_threshold:0
diag0_pin:!U_1:PB8
driver_SGT:1

[stepper_y]
step_pin:U_1:PC14
dir_pin:!U_1:PC13
enable_pin:!U_1:PC15
microsteps: 16
rotation_distance: 38.86
full_steps_per_rotation:200 # set to 400 for 0.9 degree stepper
endstop_pin:tmc2240_stepper_y:virtual_endstop
position_min: -2
position_endstop: -2
position_max:325
homing_speed:50
homing_retract_dist:0
homing_positive_dir:False
step_pulse_duration:0.0000001

[tmc2240 stepper_y]
cs_pin:U_1:PB9
spi_software_sclk_pin:U_1:PA5
spi_software_mosi_pin:U_1:PA7
spi_software_miso_pin:U_1:PA6
spi_speed:200000
run_current: 1.07
#hold_current: 0.5
interpolate: True
stealthchop_threshold:0
diag0_pin:!U_1:PC0
driver_SGT:1

[stepper_z]
step_pin:U_1:PB1
dir_pin:U_1:PB6
enable_pin:!U_1:PB0
microsteps: 16
rotation_distance: 4
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop # U_1:PC3 for Z-max, or Beacon
endstop_pin_reverse:tmc2209_stepper_z:virtual_endstop
#position_endstop:1
position_endstop_reverse:285
position_max:285
position_min: -4
homing_speed: 10
homing_speed_reverse: 10
second_homing_speed: 5
#homing_retract_dist: 5.0
homing_retract_dist: 0
homing_positive_dir:false
homing_positive_dir_reverse:true
#step_pulse_duration:0.0000001

[tmc2209 stepper_z]
uart_pin:U_1: PB7
run_current: 1.07
# hold_current: 0.17
interpolate: False
stealthchop_threshold: 99999
diag_pin:^U_1:PA13
driver_SGTHRS:100

[stepper_z1]
step_pin:U_1:PC10
dir_pin:U_1:PA15
enable_pin:!U_1:PC11
microsteps: 16
rotation_distance: 4
full_steps_per_rotation: 200
endstop_pin_reverse:tmc2209_stepper_z1:virtual_endstop
#step_pulse_duration:0.0000001

[tmc2209 stepper_z1]
uart_pin:U_1: PC5
run_current: 1.07
# hold_current: 0.17
interpolate: False
stealthchop_threshold: 99999
diag_pin:^U_1:PC12
driver_SGTHRS:100

[heater_bed]
heater_pin: U_1:PB10
sensor_type:NTC 100K MGB18-104F39050L32
sensor_pin:U_1: PA0
max_power: 1.0
control = pid
pid_Kp= 63
pid_Ki= 1.5
pid_Kd= 750
pwm_cycle_time:0.001
min_temp: -60
max_temp: 125

[temperature_sensor chamber_probe]
sensor_type:NTC 100K MGB18-104F39050L32
sensor_pin:U_1:PA1

[heater_generic chamber]
heater_pin:U_1: PC8
max_power: 0.5
pwm_cycle_time: 0.135335
control= pid
pid_Kp= 63
pid_Ki= 1.5
pid_Kd= 750
min_temp: -100
max_temp: 75
sensor_type: temperature_combined
sensor_list: temperature_sensor GD32, temperature_sensor chamber_probe, temperature_sensor GD32, temperature_sensor GD32
combination_method: mean
maximum_deviation: 70

[verify_heater chamber]
max_error: 300
check_gain_time:1200
hysteresis: 5
heating_gain: 1

[temperature_sensor Chamber_Thermal_Protection_Sensor]
sensor_type:NTC 100K MGB18-104F39050L32
sensor_pin:U_1:PC2
min_temp:-100
max_temp:130

[verify_heater extruder]
max_error: 120
check_gain_time:20
hysteresis: 5
heating_gain: 1

[verify_heater heater_bed]
max_error: 200
check_gain_time:360
hysteresis: 10
heating_gain: 1

[fan_generic auxiliary_cooling_fan]
pin: U_1:PA8
shutdown_speed: 1.0
cycle_time: 0.0100
hardware_pwm: false
kick_start_time: 0.100
off_below: 0.0

[fan_generic chamber_circulation_fan]
pin: U_1:PC9
shutdown_speed: 1.0
cycle_time: 0.0100
hardware_pwm: false
kick_start_time: 0.100
off_below: 0.0

[chamber_fan chamber_fan]
pin:U_1:PA4
max_power: 1.0
shutdown_speed: 1.0
kick_start_time: 0.5
heater:chamber
fan_speed: 1.0
off_below: 0
idle_timeout:60
idle_speed:1.0

[heater_fan hotend_fan]
pin:PB5
max_power: 1.0
shutdown_speed:1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0
off_below: 0

[heater_fan hotend_fan2]
pin:PB4
max_power: 1.0
shutdown_speed:1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0
off_below: 0

[heater_fan hotend_fan3]
pin:PB10
max_power: 1.0
shutdown_speed:1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0
off_below: 0

[fan_generic cooling_fan]
pin:PA8
max_power: 1.0
shutdown_speed:0
cycle_time: 0.010
hardware_pwm: False
kick_start_time: 0.100
off_below: 0.0
tachometer_pin:PA9
tachometer_ppr: 2
tachometer_poll_interval: 0.0015

[temperature_fan cpu_fan]
pin:U_1:PC4
max_power: 1.0
shutdown_speed: 1.0
cycle_time: 0.01
off_below: 0
sensor_type: temperature_host
control: pid
pid_deriv_time: 5.0
pid_Kp: 5
pid_Ki: 2
pid_Kd: 5
target_temp: 45
min_speed: 0.4
max_speed: 1.0
min_temp: 0
max_temp: 90

#[controller_fan board_fan]
#pin:U_1:PC4
#max_power:1.0
#shutdown_speed:1.0
#cycle_time:0.01
#fan_speed: 1.0
#stepper:stepper_x,stepper_y

[output_pin caselight]
pin: U_1:PC7
pwm: false
shutdown_value:1
value:1

[output_pin beeper]
pin:U_1: PA2
pwm: false
shutdown_value:0
value:0

[output_pin ctlyd]
pin:U_1: PA14
pwm: false
shutdown_value:0
value:0

[z_tilt]
z_positions:
    -17.5,152.5
    335.7,152.5

points:
    50, 171.3           # Assumes using stew675 beacon mount's offsets
    255, 171.3          # Assumes using stew675 beacon mount's offsets

speed: 200
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.006

[bed_mesh]
speed: 150
horizontal_move_z: 2
zero_reference_position: 152.5, 152.5
mesh_min: 22,22
mesh_max: 283,283
probe_count: 14,14
algorithm:bicubic
bicubic_tension: 0.3
mesh_pps: 2,2
fade_start: 2
fade_end: 10
fade_target: 0
split_delta_z: 0.01
move_check_distance: 4
#adaptive_margin: 5

[filament_switch_sensor fila]
pause_on_runout: True
runout_gcode:
    M118 Filament tangle detected
event_delay: 3.0
pause_delay: 0.5
switch_pin:U_1:PC3

[resonance_tester]
accel_chip: adxl345   # beacon
probe_points:
   152.5, 152.5, 15

[idle_timeout]
timeout: 43200
gcode:
    PRINT_END

[pause_resume]

[display_status]

[gcode_macro_break]

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode:CANCEL_PRINT
    
[print_stats]

[force_move]
enable_force_move : True

#[safe_z_home]
#home_xy_position: 150, 150 # update for your machine
#z_hop: 3


[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_5C1096C95157355957202020FF0F181B-if00
x_offset: 0                     # Assumes using stew675 beacon mount's offsets
y_offset: -18.8                 # Assumes using stew675 beacon mount's offsets
mesh_main_direction: x
mesh_runs: 2
contact_max_hotend_temperature: 270  # 180
home_xy_position: 152.5, 152.5      # update with your safe Z home position
home_z_hop: 5
home_z_hop_speed: 30
home_xy_move_speed: 300
home_y_before_x: False
home_method: proximity
home_method_when_homed: proximity
home_autocalibrate: never
home_gcode_pre_x: _BEACON_HOME_PRE_X
home_gcode_post_x: _BEACON_HOME_POST_X
home_gcode_pre_y: _BEACON_HOME_PRE_Y
home_gcode_post_y: _BEACON_HOME_POST_Y
contact_activate_gcode: _BEACON_CONTACT_PRE_Z
contact_deactivate_gcode: _BEACON_CONTACT_POST_Z
contact_sensitivity: 1          # You can try the default of 0, but if your
                                # automatic Z is too high, then put back to 1
contact_latency_min: 2          # You can try the default of 0, but if your
                                # automatic Z is high, put back to 2, 3 or 4
autocal_tolerance: 0.006

#[qdprobe]
#pin:!PA10
#z_offset:0

# Uncomment this if you have shaketune installed
#[shaketune]
#timeout: 1200

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 55.8
#*# damping_ratio_x = 0.046
#*# shaper_type_y = mzv
#*# shaper_freq_y = 41.4
#*# damping_ratio_y = 0.058
#*#
#*# [beacon model default]
#*# model_coef = 1.532262770714224,
#*# 	1.878365956481553,
#*# 	0.791400068030734,
#*# 	0.3846359859738989,
#*# 	0.38110255216339833,
#*# 	0.318726608169463,
#*# 	-0.29140024360260425,
#*# 	-0.38747709491319243,
#*# 	0.18503734071670144,
#*# 	0.20819013511504264
#*# model_domain = 1.862686207483503e-07,1.9382999818014496e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 55.452510
#*# model_offset = 0.00000
